/* Applying style on *body* tag */
body 
{
	background-color: #333;
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Applying style on standard attribute *id* */
#main-title 
{
	text-align: center;
}

/* Applying style on standard attribute *class* */
.highlight 
{
	background-color: yellow;
	color: orangered;
	padding: 2px;
	border-radius: 5px;
}